<div class="modal fade" id="modal_loader" tabindex="-1" aria-labelledby="modalLoaderLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" x-html="modalLoaderContent">
        </div>
    </div>
</div>